# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Playwright and test folders
playwright-report/
test-results/
.last-run.json

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js build output
.next/
out/

# Jest coverage output
coverage/


.vercel
